# Backend API Endpoint URL (e.g. https://api.fidel.tools or http://localhost:3000)
VITE_API_URL=http://localhost:3000


BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app