# Server listen port
PORT=3000

# PostgreSQL database connection string
DATABASE_URL="postgresql://neondb_owner:npg_Mm2w4avKuJXe@ep-solitary-breeze-adhwhs7c-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
